{% load i18n %}
{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "css/tooplate-main.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.css" %}">

    <!--
    Tooplate 2114 Pixie
    https://www.tooplate.com/view/2114-pixie
    -->

  </head>
  <body dir='rtl'>

    <ul class="user-info-menu">
        {% if user.is_authenticated %}
          <li>
              <a class="text-right" href="{% url 'account_logout' %}">{% trans 'LOGOUT' %}<a>
          </li>
          <li>
              <a class="text-right" href="#">{% trans 'PROFILE' %}</a>
          </li>
          {% else %}
          <li>
              <a class="text-right" href="{% url 'account_login' %}">{% trans 'LOGIN' %}</a>
          </li>
          <li>
              <a class="text-right" href="{% url 'account_signup' %}">{% trans 'SIGNUP' %}</a>
          </li>
        {% endif %}
    </ul>        

    {% block body %}

    {% endblock %}


    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <script src="" async defer></script>
    
  </body>
</html>